@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Poppins:wght@400;500;600&display=swap');





*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffffff;
}


:root{
    --main-color:#24caac;
    --color-1:#eaa023;
    --color-2:#e91e63;
    --dark-800:#24292d;
    --dark-700:#2f363e;
    --white-900:#ffffff;
    --white-800:rgba(255,255,255,0.8);
    --shadow:0 0 15px rgba(0,0,0,0.2);
    scroll-behavior: smooth;
}
::before,
::after{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}

p{
    font-family: "Poppins", sans-serif;
}

.wrapper{
    position: relative;
    /* width: 100%; */
    background-color: #184E61;
    min-height: 120vh;
    overflow: hidden;

}

/* header{
    position:fixed;
    display: block;
    top: 0;
    z-index: 2000;
    
    
} */
.header_section{
    position: sticky;
    left: 0;
    top: 0;
    
}


.container{
    margin: 0 auto;
    padding: 1rem 4.5rem;
    width: 1170px;
}
.row{
    position: relative;
}
.header_sec{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.header_sec .logo img{
    width: 100px;
}


.header_sec .links ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.links ul li{
    margin-right: 45px;
    font-size: 15px;
}

.links{
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
   
}
.links a:hover{
    color: #40A3F8;
}

.btn-block{
    font-size: 15px;
    padding: 0.4rem 0.8rem;
    background-color: #64819c;
    border-radius: 24px;
    border-bottom-left-radius: 0px;
    border: none;
}

.overlay{
    display: none;
}

.hamburger_menu{
    position: relative;
    z-index: 99;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 25px;
}

.hamburger_menu .bar{
    position: relative;
    width: 100%;
    height: 3px;
    background-color: #24292d;
    border-radius: 3px;
    transition: 0.3s;
}


.bar::before,
.bar::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #24292d;
    border-radius: 3px;

}

.bar::before{
    transform: translateY(-8px);
}

.bar::after{
    transform: translateY(8px);
}

.wrapper.active .hamburger_menu .bar{
    background-color: transparent;

}

.wrapper.active .hamburger_menu .bar::before{
    transform: translate(0) rotate(-45deg);
    transition: 0.6s;
}

.wrapper.active .hamburger_menu .bar::after{
    transform: translate(0) rotate(45deg);
    transition:0.6s;
}

.content{
    align-items: center;
}

.content-left{
    margin: 120px 0;
    width: 36rem;
    
}

.content-title{
    font-family: "Poppins", sans-serif;
}
.content-text-must{
    padding: 20px 0;
    color:aliceblue;

}

.content-title .title1{
    color:#24caac;
    padding: 10px 0;
}
.content-title .title2{
    color: white;
    padding: 20px 0;
}


/* Content form */

.content-form{
    margin: 50px 0;
    padding: 5px;
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    border-radius: 0.5rem;
    background-color: #0dac84;
}

.form-group{
    flex: 1 1 0;
}

.form-group select{
    width: 100%;
    display: block;
    margin: 5px;
    color: #000;
    background: transparent;
    border: none;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
}

.form-group label{
    display: inline-block;
    margin: 10px;
    font-weight: 600;
    font-size: 15px;
    color: white;
    font-family: "Poppins", sans-serif;

}

.content-tray{
    width: 580px;
    height: 580px;
    background-color:#286379;
    opacity: 0.5;
    border-radius: 50%;
    position: absolute;
    top: -80px;
    right: 0;
}

.tray2{
    top: -10px;
    right: 68px;
    width: 440px;
    height: 440px;
    background-color: #90cde4;
    opacity: 0.078;
    border-radius: 50%;
    position: absolute;
}
.content-image img{
    top: -60px;
    right: -130px;
    width: 978px;
    position: absolute;
}


.icons{
    height: 100%;
   
    animation: rotation 60s linear infinite;
}
@keyframes rotation{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes rotations{
    100%{
        transform: rotate(-360deg);
    }
}
.icons img{
    position: absolute;
    
    
}

.icons img:nth-child(1){
    top: 0%;
    left: 10%;
    animation: rotations 60s linear infinite;
}
.icons img:nth-child(2){
    top: 5%;
    right: 5%;
    animation: rotations 60s linear infinite;
}
.icons img:nth-child(3){
   top: 50%;
   left: -10%;
   animation: rotations 60s linear infinite;
}
.icons img:nth-child(4){
    top: 60%;
    right: -6%;
    animation: rotations 60s linear infinite;
}
.icons img:nth-child(5){
    top: 90%;
    right: 45%;
    animation: rotations 60s linear infinite;
}

.solution-title{
    align-items: center;
    text-align: center;
    color: rgb(104, 100, 100);
    font-family: "Poppins",sans-serif;
   

}



.about-row{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}


.solution-content-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-color: rgb(34, 104, 86);
    margin-bottom: 10px;
}

.solution-content{
    width: 240px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.solution-content-title{
    font-size: 16px;
    margin-bottom: 10px;
    font-family: "Poppins",sans-serif;
}

.solution-content-text{
    font-size: 14px;
    font-family: "Poppins",sans-serif;
}


