@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Poppins:wght@400;500;600&family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  color: #fff;
  background-color: #F3F4F6;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.3s all ease;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
}

li {
  list-style: none;
}

.btn {
  height: 44px;
  padding: 10px 28px;
  border-radius: 200px;
  font-size: 16px;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
}
.btn.btn-primary {
  border-color: #6001D3;
  color: #fff;
  background-color: #6001D3;
  /*box-shadow: 0px 4px 4px rgba($shadow_color, 0.2),
               0px 8px 8px rgba($shadow_color, 0.2),
               0px 16px 16px rgba($shadow_color, 0.2),
               0px 32px 32px rgba($shadow_color, 0.2),
               0px 64px 64px rgba($shadow_color, 0.2);*/
  box-shadow: -10px 30px 50px rgba(96, 1, 211, 0.301961);
}
.btn:hover {
  border-color: darkden(#6001D3, 5%);
  color: darkden(#fff, 5%);
}
.btn.btn-prim {
  color: white;
  background-color: #ff4278;
  box-shadow: -10px 30px 50px rgba(211, 1, 71, 0.302);
}

.custom-navbar {
  width: 100%;
  height: 130vh;
  background-color: #F3F4F6;
  overflow: hidden;
}
.custom-navbar .home-section {
  position: relative;
  padding: 100px;
}
.custom-navbar .home-section .home-title {
  width: 400px;
}
.custom-navbar .home-section .home-title h2 {
  font-size: 40px;
  color: #000;
  font-weight: 700;
}
.custom-navbar .home-section .home-content p {
  width: 300px;
  font-size: 14px;
  color: #000;
}
.custom-navbar .home-section .liner-image {
  width: 100%;
  height: 100%;
  top: 100px;
  right: 100px;
  transform: rotate(-10deg);
  position: absolute;
  z-index: 10;
}
.custom-navbar .home-section .home-section-image img {
  top: 150px;
  right: 20%;
  position: absolute;
  width: 600px;
  border-radius: 18px;
  z-index: 11;
}
.custom-navbar .home-section .time-sticker img {
  width: 280px;
  height: 280px;
  position: absolute;
  top: 400px;
  right: 300px;
  z-index: 12;
}

.services {
  height: 80vh;
}
.services .services-content .services-content-title1 {
  color: #FD346E;
  font-size: 20;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}
.services .services-content .services-content-title2 {
  width: 500px;
}
.services .services-content .services-content-title2 h2 {
  color: #030314;
  font-size: 50px;
  font-weight: 800;
}
.services .services-content .services-content-text {
  margin-bottom: 20px;
  width: 450px;
  font-family: "Quicksand", sans-serif;
  color: #5e6269;
  font-size: 14px;
}
.services .services-right-elemnts .services-right-elemnt {
  margin: 4px;
  border-radius: 20px;
  width: 270px;
  height: 220px;
  background-color: white;
}
.services .services-right-elemnts .services-right-elemnt .services-circle1 {
  margin: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  left: 1055px;
  top: 1252.5px;
  border-radius: 50%;
  background: #FD346E;
  box-shadow: -5px 15px 30px rgba(253, 52, 110, 0.301961);
}
.services .services-right-elemnts .services-right-elemnt .services-circle1 svg {
  width: 26px;
  height: 30px;
}
.services .services-right-elemnts .services-right-elemnt .services-circle1 svg path {
  fill: #ffffff;
}
.services .services-right-elemnts .services-right-elemnt .services-circle2 {
  margin: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  left: 1055px;
  top: 1252.5px;
  border-radius: 50%;
  background: #1DE2CF;
  box-shadow: -5px 15px 30px rgba(29, 226, 207, 0.301961);
}
.services .services-right-elemnts .services-right-elemnt .services-circle2 svg {
  width: 26px;
  height: 30px;
}
.services .services-right-elemnts .services-right-elemnt .services-circle2 svg path {
  fill: #ffffff;
}
.services .services-right-elemnts .services-right-elemnt .services-circle3 {
  margin: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  left: 1055px;
  top: 1252.5px;
  border-radius: 50%;
  background: #6001D3;
  box-shadow: -5px 15px 30px rgba(173, 52, 253, 0.302);
}
.services .services-right-elemnts .services-right-elemnt .services-circle3 svg {
  width: 26px;
  height: 30px;
}
.services .services-right-elemnts .services-right-elemnt .services-circle3 svg path {
  fill: #ffffff;
}
.services .services-right-elemnts .services-right-elemnt .services-circle4 {
  margin: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  left: 1055px;
  top: 1252.5px;
  border-radius: 50%;
  background: #FCDC00;
  box-shadow: -5px 15px 30px rgba(252, 220, 0, 0.301961);
}
.services .services-right-elemnts .services-right-elemnt .services-circle4 svg {
  width: 26px;
  height: 30px;
}
.services .services-right-elemnts .services-right-elemnt .services-circle4 svg path {
  fill: #ffffff;
}
.services .services-right-elemnts .services-right-elemnt .services-elemnt-title h2 {
  width: 40px;
  margin: 12px 24px;
  color: #081420;
  font-size: 20px;
  font-weight: bold;
}
.services .services-right-elemnts .services-right-elemnt .services-elemnt-far h3 {
  margin: 12px 24px;
  color: #70798B;
  font-size: 15px;
  font-weight: 500;
}
.services .services-right-elemnts .services-right-elemnt:hover {
  margin: 4px;
  border-radius: 20px;
  width: 270px;
  height: 220px;
  background-color: #6001D3;
  box-shadow: -10px 40px 70px rgba(96, 1, 211, 0.301961);
  transition: 0.9s ease;
}
.services .services-right-elemnts .services-right-elemnt:hover .services-circle1,
.services .services-right-elemnts .services-right-elemnt:hover .services-circle2,
.services .services-right-elemnts .services-right-elemnt:hover .services-circle3,
.services .services-right-elemnts .services-right-elemnt:hover .services-circle4 {
  margin: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  left: 1055px;
  top: 1252.5px;
  border-radius: 50%;
  background: #ffffff;
}
.services .services-right-elemnts .services-right-elemnt:hover .services-circle1 svg,
.services .services-right-elemnts .services-right-elemnt:hover .services-circle2 svg,
.services .services-right-elemnts .services-right-elemnt:hover .services-circle3 svg,
.services .services-right-elemnts .services-right-elemnt:hover .services-circle4 svg {
  width: 26px;
  height: 30px;
  background: #fff;
}
.services .services-right-elemnts .services-right-elemnt:hover .services-circle1 svg path,
.services .services-right-elemnts .services-right-elemnt:hover .services-circle2 svg path,
.services .services-right-elemnts .services-right-elemnt:hover .services-circle3 svg path,
.services .services-right-elemnts .services-right-elemnt:hover .services-circle4 svg path {
  fill: #6001D3;
}
.services .services-right-elemnts .services-right-elemnt:hover .services-elemnt-title h2 {
  width: 40px;
  margin: 12px 24px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}
.services .services-right-elemnts .services-right-elemnt:hover .services-elemnt-far h3 {
  margin: 12px 24px;
  color: #a6acb8;
  font-size: 15px;
  font-weight: 500;
}

.logo img {
  width: 120px;
}

.custom-nav {
  display: flex;
  padding: 0;
  margin: 0;
}
.custom-nav li {
  display: flex;
}
.custom-nav li a {
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  transition: 0.3s all ease;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
.custom-nav li a:hover {
  color: #000000;
}

.hamburger-menu {
  width: 2rem;
  height: 2rem;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 101;
}
.hamburger-menu .bar {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: red;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s;
}
.hamburger-menu .bar::before, .hamburger-menu .bar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  border-radius: 3px;
  transition: 0.5s;
}
.hamburger-menu .bar::before {
  transform: translateY(-8px);
}
.hamburger-menu .bar::after {
  transform: translateY(8px);
}

.custom-navbar.active .hamburger-menu .bar {
  background-color: transparent;
}

.custom-navbar.active .bar::before {
  transform: translateY(0) rotate(-45deg);
}

.custom-navbar.active .bar::after {
  transform: translateY(0) rotate(45deg);
}

@media only screen and (max-width: 991px) {
  .overlay {
    position: fixed;
    width: 50%;
    height: 100vh;
    background-color: #7abeec;
    padding-top: 20px;
    transition: 0.5s;
    transform: translateX(100%);
    top: 0;
    right: 0;
    z-index: 100;
  }

  .overlay.active {
    right: 0;
    transform: translateX(0%);
  }

  .overlay button {
    margin-top: 100px;
    margin-right: 50px;
  }
}
@media only screen and (min-width: 991px) {
  .overlay {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
